* {
    margin: 0;
}

body {
    background-image: url(img/DSC_0054.JPG);
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.container__header h1 {
    width: max-content;
    font-size: 150px;
    font-family: 'Courgette', cursive;
    color: rgb(59, 83, 45);
    text-shadow: 2px 2px 5px rgb(79, 114, 58);
    position: fixed;
    left: 300px;
    top: 20px;
}

.container__main {
    width: 65%;
    position: relative;
    left: 30%;
    top: 200px;
}

.container__main h2 {
    color: black;
    font-family: 'Courgette', cursive;
    font-size: 50px;
    text-align: right;

}

.container__main p {
    color: black;
    font-size: 22px;
    font-family: 'Courgette', cursive;
    text-align: justify;
    text-indent: 20px;
    background: rgba(0, 0, 0, 0.15);
}