* {
    margin: 0;
}

body {
    background-image: url(img/DSC_0054.JPG);
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.container__header h1 {
    width: max-content;
    font-size: 150px;
    font-family: 'Courgette', cursive;
    color: rgb(163, 170, 64);
    text-shadow: 2px 2px 5px rgb(79, 114, 58);
    position: fixed;
    left: 300px;
    top: 20px;
}

.main__article-one {
    width: 65%;
    position: relative;
    left: 30%;
    top: 200px;
    text-shadow: 0px 0px 10px black;
    font-family: 'Courgette', cursive;
    color: white;
    z-index: 10;
}

.main__article-one h2 {
    font-size: 50px;
    text-align: right;

}

.main__article-one p {
    font-size: 22px;
    text-align: justify;
    text-indent: 20px;
}

.main__article-one cite {
    font-size: 24px;
}

.main__article-two {
    width: 30%;
    position: fixed;
    top: 200px;
}

.main__article-two h2 {
    text-align: center;
    color: rgb(173, 196, 164);
    font-family: 'Courgette', cursive;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    left: 300px;
    top: 670px;
    z-index: 5;
}

.main__article-two img {
    width: 230px;
    height: auto;
}

.article__img-one {
    position: absolute;
    top: 70px;
    left: 50px;
    transform: rotate(350deg);
    z-index: 4;
}

.article__img-two {
    position: absolute;
    top: 60px;
    left: 280px;
    transform: rotate(15deg);
    z-index: 1;
}

.article__img-three {
    position: absolute;
    top: 350px;
    left: 50px;
    transform: rotate(5deg);
    z-index: 2;
}

.article__img-four {
    position: absolute;
    top: 360px;
    left: 260px;
    transform: rotate(350deg);
    z-index: 3;
}