* {
    margin: 0;
}

body {
    background: rgb(110, 117, 14);
    background-image: url(img/DSC_0054.JPG);
    background-repeat: no-repeat;
}

.container__header h1 {
    width: max-content;
    font-size: 150px;
    font-family: 'Courgette', cursive;
    color: transparent;
    text-shadow: 0px 0px 20px black;
    position: absolute;
    left: 20%;
    top: 20px;
    -webkit-text-stroke: 1px #8cc63e;
}

.main__article {
    width: 68%;
    height: 800px;
    min-width: 700px;
    overflow: auto;
    position: absolute;
    left: 30%;
    top: 250px;
    font-family: 'Courgette', cursive;
    color: white;
    z-index: 10;
    background: rgba(6, 10, 5, 0.5);
    padding: 10px;
}

.main__article h2 {
    font-size: 50px;
    text-align: right;

}

.main__article p {
    font-size: 22px;
    text-align: justify;
    text-indent: 20px;
}

.main__article cite {
    font-size: 24px;
}

.main__img {
    width: 30%;
    position: absolute;
    top: 200px;
}

.main__img a {
    text-align: center;
    color: #8cc63e;
    font-family: 'Courgette', cursive;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    left: 300px;
    top: 670px;
    z-index: 5;
    text-decoration: none;
}

.main__img img {
    width: 230px;
    height: auto;
}

.img-one {
    position: absolute;
    top: 70px;
    left: 50px;
    transform: rotate(350deg);
    z-index: 4;
}

.img-two {
    position: absolute;
    top: 60px;
    left: 280px;
    transform: rotate(15deg);
    z-index: 1;
}

.img-three {
    position: absolute;
    top: 350px;
    left: 50px;
    transform: rotate(5deg);
    z-index: 2;
}

.img-four {
    position: absolute;
    top: 360px;
    left: 260px;
    transform: rotate(350deg);
    z-index: 3;
}

footer {
    height: 100px;
    position: absolute;
    top: 1100px;
}

.footer__img-logo img {
    width: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.footer__http {
    font-size: 32px;
    text-decoration: none;
    color: #8cc63e;
    position: absolute;
    top: 30px;
    left: 100px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #8cc63e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #8cc63e;
}

::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.5);
}