* {
    margin: 0;
}

body {
    background-image: url(img/DSC_0054.JPG);
    height: 1080px;
    max-width: 1920px;
    background-repeat: no-repeat;
}

.container__header h1 {
    width: max-content;
    font-size: 150px;
    font-family: 'Courgette', cursive;
    color: transparent;
    text-shadow: 0px 0px 20px rgb(110, 117, 14);
    position: absolute;
    left: 20%;
    top: 20px;
    -webkit-text-stroke: 1px black;
}

.main__article-one {
    width: 70%;
    height: 800px;
    min-width: 600px;
    overflow: auto;
    position: absolute;
    left: 30%;
    top: 250px;
    font-family: 'Courgette', cursive;
    color: white;
    z-index: 10;
    background: rgba(32, 56, 29, 0.158);
}

.main__article-one::-webkit-scrollbar {
    background-color: transparent;
}

.main__article-one h2 {
    font-size: 50px;
    text-align: right;

}

.main__article-one p {
    font-size: 22px;
    text-align: justify;
    text-indent: 20px;
}

.main__article-one cite {
    font-size: 24px;
}

.main__article-two {
    width: 30%;
    position: absolute;
    top: 200px;
}

.main__article-two a {
    text-align: center;
    color: #8cc63e;
    font-family: 'Courgette', cursive;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    left: 300px;
    top: 670px;
    z-index: 5;
    text-decoration: none;
}

.main__article-two img {
    width: 230px;
    height: auto;
}

.article__img-one {
    position: absolute;
    top: 70px;
    left: 50px;
    transform: rotate(350deg);
    z-index: 4;
}

.article__img-two {
    position: absolute;
    top: 60px;
    left: 280px;
    transform: rotate(15deg);
    z-index: 1;
}

.article__img-three {
    position: absolute;
    top: 350px;
    left: 50px;
    transform: rotate(5deg);
    z-index: 2;
}

.article__img-four {
    position: absolute;
    top: 360px;
    left: 260px;
    transform: rotate(350deg);
    z-index: 3;
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 1000px;
}

.footer__img-logo img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 25px;
}

.footer__http {
    font-size: 32px;
    text-decoration: none;
    color: #8cc63e;
    position: absolute;
    top: 30px;
    left: 100px;
}